html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,progress,video{display:inline-block;vertical-align:baseline;}audio:not([controls]){display:none;height:0;}[hidden],template{display:none;}a{background:transparent;}a:active,a:hover{outline:0;}abbr[title]{border-bottom:1px dotted;}dfn{font-style:italic;}h1{font-size:2em;margin:.67em 0;}mark{background:#ff0;color:#000;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:1em 40px;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em;}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0;}button{overflow:visible;}button,select{text-transform:none;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input{line-height:normal;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}table{border-collapse:collapse;border-spacing:0;}td,th{padding:0;}b,strong,optgroup{font-weight:700;}pre,textarea{overflow:auto;}button::-moz-focus-inner,input::-moz-focus-inner,legend{border:0;padding:0;}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

body {
	margin: 0;
	font-style: sans-serif;
	font-size: 14px;
	width: 100%;
	position: relative;
}

.container {
	width: 80%;
	border: 1px solid rgba(0, 0, 0, 0);
	margin: 0 auto;
}

.secondaryContainer {
	width: 100%;
	position: relative;
	z-index: 3;
}

/*/////////////BEGINNING OF HEADER SELECTORS /////////////////*/

.header {
	background: black url('images/light_race.jpg');
	background-size: cover;
	width: 100%;
	height: 100%;
	position: relative;
	opacity: .9;
	z-index: 10;
}
	
	.headerBox{
		width: 80%;
		margin: 12% auto;
		padding: 5%;
		border: 4px solid white;
	}


/*/////////////BEGINNING OF TYPOGRAPHY SELECTORS /////////////////*/

h1 {
	color: white;
	text-align: center;
	font-family: Anonymous Pro;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 60px;
	text-shadow: 2px 2px 10px #000;
}

h2 {
	color: white;
	text-align: center;
	font-family: Anonymous Pro;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 32px;
	text-shadow: 2px 2px 10px #000;
	letter-spacing: 2px;
	line-height: 40px;
	text-shadow: 0 0 5px #000;
}

h3 {
	color: white;
	font-family: Anonymous Pro;
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
	text-shadow: 0 0 5px #000;
}

p {
	color: white;
	font-family: Source Sans Pro;
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
	text-shadow: 0 0 5px #000;
}

/*/////////////BEGINNING OF NAVIGATION SELECTORS /////////////////*/

.fixedNav {
	background: black;
	color: white;
	opacity: 0.75;
	position: fixed;
	width: 100%;
	z-index: 10;

}

ul {
	width: 100%; 
	margin: 0 auto;
	text-align: center;	
	padding: 2%;
}
	ul.resources {
		margin-left: -7%;
		text-align: left;
	}

	ul li {
		display: inline;

	}

	ul li a {
		font-family: Anonymous Pro;
		text-transform: uppercase;
		font-weight: 700;
		color: white;
		font-size: 18px;
		letter-spacing: 5px;
		text-shadow: 0 0 10 #000;
		text-decoration: none;
		text-align: center;
		padding: 2%;
	}

ul.primaryNav li a {
		color: white;
		text-decoration: none;
		text-align: center;
		padding: 2%;
}

	ul.primaryNav li:hover a{
		background: mediumvioletred;
		color: white;
		text-decoration: none;
	}

		ul.primaryNav li ul.subNav {
			display:none;	
			top:90%;
			position: absolute;
			background: mediumvioletred;
			float: left;
			left: 0;
			text-align: center;
			width: 100%;
		}

			ul.primaryNav li:hover ul.subNav {
				display:block;				
			}
			
		/*	ul.primaryNav li ul.subNav li a{
				padding-left: 100px;
			}*/

/*///////////// THE CRAZY LINES THING /////////////////*/

.middleLine {
	width: .5%;
	margin: 0 49.5%;
	height: 100%;
	float: left;
	background: white;
	z-index: 1;
	position: absolute;
	/*padding: 0;*/
	box-shadow: 0 0 30px rgba(179, 44, 115, 1);
	bottom: 0;
	top: 0;

}

.horizLeft1{
	width: 25%;
	border: 2px solid white;
	position: absolute;
	top: 10%;
	left: 25%;
	box-shadow: 0 0 30px rgba(179, 44, 115, 1);
}

.horizRight1{
	width: 25%;
	border: 2px solid white;
	position: absolute;
	top: 50%;
	right: 25%;
	box-shadow: 0 0 30px rgba(179, 44, 115, 1);
}

.horizLeft2{
	width: 25%;
	border: 2px solid white;
	position: absolute;
	top: 75%;
	left: 25%;
	box-shadow: 0 0 30px rgba(179, 44, 115, 1);
}

/*/////////////BEGINNING OF TIMELINE THING SELECTORS /////////////////*/

.timeline /*gradient*/ {
	background: rgba(255,94,94,1);
background: -moz-linear-gradient(-45deg, rgba(255,94,94,1) 0%, rgba(163,35,103,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,94,94,1)), color-stop(100%, rgba(163,35,103,1)));
background: -webkit-linear-gradient(-45deg, rgba(255,94,94,1) 0%, rgba(163,35,103,1) 100%);
background: -o-linear-gradient(-45deg, rgba(255,94,94,1) 0%, rgba(163,35,103,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(255,94,94,1) 0%, rgba(163,35,103,1) 100%);
background: linear-gradient(135deg, rgba(255,94,94,1) 0%, rgba(163,35,103,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5e5e', endColorstr='#a32367', GradientType=1 );
width: 100%;

/*background: url('images/tumblr_mrraevBLsP1st5lhmo1_1280.jpg');
background-size: cover;*/
}


.timelineTextRight {
	float: right;
	padding: 3%;
	width: 45%;
	border: 5px solid white;
	margin: 1.25%;
	box-shadow: 0 0 30px rgba(179, 44, 115, 1);
}

.timelineTextLeft {
	float: left;
	padding: 3%;
	width: 45%;
	border: 5px solid white;
	margin: 0 1.25%;
	text-align: right;
	box-shadow: 0 0 30px rgba(179, 44, 115, 1);
}

.diamondImgHolderLeft {
	float: left;
	margin: 1.25%;
	width: 45%;
	/*border: 1px solid white;*/
}

.diamondImgHolderRight {
	float: right;
	margin: 1.25%;
	width: 45%;
	/*border: 1px solid white;*/
}

.diamond {/*this is the diamond shape maker for the images*/
	width: 60%;
 /* 	height: 250px;*/
  	margin: 20%;
  	-ms-transform: rotate(-30deg);
  	-webkit-transform: rotate(-30deg);
  	transform: rotate(-30deg);
 	overflow: hidden;
 	border: 5px solid white;
 	position: relative;
 	box-shadow: 0 0 30px rgba(179, 44, 115, 1);
 	z-index: 1;
 }

img.timelineImageLeft {
	float: left;
	max-width: 100%;
  	/*height: 280px;*/
  	-ms-transform: rotate(30deg) scale(1.4);
  	-webkit-transform: rotate(30deg) scale(1.4);
  	transform: rotate(30deg) scale(1.4);	
}

img.timelineImageRight {
	float: right;
	max-width: 100%;
  	/*height: 280px;*/
  	-ms-transform: rotate(30deg) scale(1.4);
  	-webkit-transform: rotate(30deg) scale(1.4);
  	transform: rotate(30deg) scale(1.4);
}


/*/////////////BEGINNING OF trailblazer SELECTORS /////////////////*/
.header2 {
	background:url('images/gs_bw.jpg');
	background-size: cover;
	background-position: center;
	position: relative;
	width: 100%;
	/*border: 1px solid red;*/
}

.theUnicornLaw {
	background: url('images/rosie_bw.jpg');
	background-size: cover;
	background-position:center;
}

/*.header2copy {
	overflow: hidden;
	width: 100%;
	position: relative;
}*/

.gradient1 {
  position:fixed;
  width:100%;
  padding-bottom:44%;
  background:linear-gradient(-80grad, transparent, rgba(221, 118, 36, 1));
  -webkit-transform-origin:0 0;
  transform-origin:0 0;
  -webkit-transform:rotate(-25deg);
  transform:rotate(-25deg);
  z-index: 1;
}

.gradient2 {
  position:absolute;
  width:100%;
  padding-bottom:44%;
  background:linear-gradient(-80grad, transparent, rgba(221, 36, 140, 1));
  top: 0;
  bottom: 0;
}

.gradient3 {
  position:fixed;
  width:100%;
  padding-bottom:38%;
  background:linear-gradient(-80grad, transparent, rgba(221, 36, 103, 1));
  -webkit-transform-origin:0 0;
  transform-origin:0 0;
  -webkit-transform:rotate(-50grad);
  transform:rotate(-50grad);
  z-index: 1;
}

.trailblazersText {
	width: 50%;
	height: 50%;
	/*border: 1px solid red;*/
	position: relative;
	margin: 5%;
	float: left;
	z-index: 2;
	padding-top: 2.5%;
	
}

.theUnicornLaw .trailblazersText {
	float: right;
}

.trailblazersText h2{
	text-align: left;
}

/*/////////////BEGINNING OF RESOURCES SELECTORS /////////////////*/

.otherResources {
	background: url('images/womenholdingcomputer.jpg');
	background-position: center;
	background-size: cover;
	text-shadow: 0 0 5px #000;

}

/*/////////////BEGINNING OF CONTACT SELECTORS /////////////////*/

.contactBackground {
	background: url('images/giant_computer_room.jpg');
	background-size: cover;
}

.contactFormBlock {
	width: 80%;
	margin: 10% auto;
	background:linear-gradient(-80grad, transparent, rgba(221, 36, 140, 1));
	padding: 4%;
	position: relative;
}

.embedMedia {
	width: 100%;
	position: relative;
	margin: 0 auto;
	text-align: center;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0; 
    overflow: hidden;
}

.embedMedia iframe,
.embedMedia object,
.embedMedia embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

input.name, input.email {
	border: 2px solid rgba(221, 36, 103, 1);
	display: block;
	margin: 10px 0;
	width: 50%;
	padding: 10px;
}

input.name:focus, input.email:focus {
	outline:none;
}

textarea {
	border: 2px solid rgba(221, 36, 103, 1);
	display: block;
	margin: 10px 0;
	width: 50%;
	padding: 10px;
}

textarea:focus {
	outline:none;
}

input.submit {
	background: rgb(88, 23, 100);
	border:1px solid rgba(39, 14, 77, 1);
	border-radius: 4px;
	color:white;
	padding:10px;
	font-size:16px;
	font-weight: 600;
	
}


/*/////////////BEGINNING OF FOOTER SELECTORS /////////////////*/

.footer {
	width: 100%;
	height: 5%;
	background: black;
	position: relative;
	z-index: 1;
}

/*/////////////BEGINNING OF Responsive SELECTORS /////////////////*/

@media (max-width: 870px) {

	.diamond {/*this is the diamond shape maker for the images*/
		width: 60%;
	}

	.diamondImgHolderLeft {
	float: left;
	margin: 1%;
	width: 44%;
	/*border: 1px solid white;*/
}

.diamondImgHolderRight {
	float: right;
	margin: 1%;
	width: 44%;
	/*border: 1px solid white;*/
}
	
	h3 {
		font-size: 0.85rem;
		padding: 0;
	}

	p {
		font-size: 0.85rem;
	}

	.timelineTextRight {
	padding: 1%;
	width: 54%;
	margin: 4% 0;
	/*border: 2px solid white;*/
	}

	.timelineTextLeft {
	padding: 1%;
	width: 54%;
	/*border: 2px solid white;*/
	margin: 4% 0;
	}

	.middleLine {
		display: none;
	}

	.horizLeft1 {
		display: none;
	}

	.horizLeft2 {
		display: none;
	}

	.horizRight1 {
		display: none;
	}
}

@media (max-width: 720px) {
	/*.diamond {this is the diamond shape maker for the images
		width: 100%;
		display: block;
		float: none;
	}*/

	.diamondImgHolderLeft {
		float: left;
		margin: 1%;
		width: 98%;
		padding:1%;
	}

	.diamondImgHolderRight {
		float: right;
		margin: 1%;
		width: 98%;
		padding:2%;
	}

	.timelineTextRight {
		padding: 1%;
		width: 100%;
		margin: 1% 0;
		/*border: 2px solid white;*/
	}

	.timelineTextLeft {
		padding: 1%;
		width: 100%;
		/*border: 2px solid white;*/
		margin: 1% 0;
	}
}

@media (max-width: 680px) {
	ul li a{
		display: block;
		width: 100%;
	}

	ul.primaryNav li ul.subNav {
			display:none;	
			top:65%;
			position: absolute;
			background: mediumvioletred;
			float: left;
			left: 0;
			text-align: center;
			width: 100%;
		}

			ul.primaryNav li:hover ul.subNav {
				display:block;				
			}

			ul.primaryNav li:focus ul.subNav {
				display:block;				
			}

		.trailblazersText h2 {
			padding-top: 33%;
		}
	
	h1 {
		font-size: 48px;
	}

	h2 {
		font-size: 24px;
	}
}